<div class="container px-5 my-5 px-sm-0 my-sm-0">
  <div class="row">
    <h4 class="mt-5 text-center", style="background-color: #eee; width:200px; padding-left: 8px; margin-bottom: 40px;"><b>マイページ</b></h4>
  </div>
  <div class="row">
    <!--会員情報-->
    <%= render 'my_page', customer: @customer, link: "レビュー一覽" , url: customer_path(@customer.id) %>

    <!--会員のキャンプ場投稿一覽-->
    <div class="col-md-4">
      <div class="row">
        <h6 class="mt-5 text-center", style="background-color: #eee; width:190px; margin-bottom: 40px;"><b>投稿したキャンプ場</b></h6>
      </div>
      <% @camps.each do |camp| %>


            <%= link_to camp_path(camp.id), class: 'text-dark' do %>
              <u><%= camp.name %></u>
            <% end %>


      <% end %>

    </div>

    <!--会員のキャンプギア投稿一覽-->
    <div class="col-md-4">
      <div class="row">
        <h6 class="mt-5 text-center", style="background-color: #eee; width:190px; margin-bottom: 40px;"><b>投稿したキャンプギア</b></h6>
      </div>

      <% @gears.each do |gear| %>


            <%= link_to gear_path(gear.id), class: 'text-dark' do %>
              <u><%= gear.name %></u>
            <% end %>


      <% end %>
    </div>
  </div>
</div>