<% if @range == "キャンプ場" %>
  <% unless @camps.blank? %>
    <div class='container mt-5'>
      <div class='row'>
        <div class='area-search col-md-2 col-12 mb-3'>
          <%= render 'public/camps/area_search', areas: @areas %>
        </div>

        <div class='camps col-md-10 col-12'>

          <div class="row pl-3">
            <h3><b><%= @word %>検索結果</b></h3>
            <b style="padding-top: 10px; margin-bottom: 8px;">（全<%= @camps_count.nil? ? @camps.count : @camps_count %>件）</b>
          </div>

          <div class="sort row pl-3">
            <p>
              <%= link_to '新しい順', search_path(word: params[:word], range: params[:range], latest: "新着順") %>
              | <%= link_to '評価の高い順', search_path(word: params[:word], range: params[:range], star_count: "評価の高い順") %>
            </p>
          </div>

          <div class = "camp-index row">
            <%= render "public/camps/index", camps: @camps %>
          </div>

          <div class="d-flex justify-content-center">
            <%= paginate @camps %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h3>見つかりませんでした。検索条件を変更して再度お試しください。</h3>
  <% end %>
<% else %>
  <% unless @gears.blank? %>
    <div class='container mt-5'>
      <div class='row'>
        <div class='catrgory-search col-md-2 col-12 mb-3'>
          <%= render 'public/gears/category_search', categories: @categories %>
        </div>

        <div class='gear col-md-10 col-12'>

          <div class="row pl-3">
            <h3><b><%= @word %>検索結果</b></h3>
            <b style="padding-top: 10px; margin-bottom: 8px;">（全<%= @gears_count.nil? ? @gears.count : @gears_count %>件）</b>
          </div>

          <div class="row pl-3">
            <p>
              <%= link_to '新しい順', search_path(word: params[:word], range: params[:range], latest: "新着順") %>
              | <%= link_to '評価の高い順', search_path(word: params[:word], range: params[:range], star_count: "評価の高い順") %>
            </p>
          </div>

          <div class = "gear-index row">
            <%= render "public/gears/index", gears: @gears %>
          </div>

          <div class="d-flex justify-content-center">
            <%= paginate @gears %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h3>見つかりませんでした。検索条件を変更して再度お試しください。</h3>
  <% end %>
<% end %>
