<div class="container px-5 px-sm-0">
  <div class="row">
    <h5 class="ml-5 my-4 px-3", style="background-color: #eee; width:300px;"><b><%= @customer.name %>さんの会員詳細</b></h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-borderless">
        <tr>
          <td><b>会員ID</b></td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td><b>ニックネーム</b></td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td><b>メールアドレス</b></td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td><b>会員ステータス</b></td>
          <% if @customer.is_active == true %>
            <td class="text-success"><b>有効</b></td>
          <% else %>
            <td class="text-danger"><b>退会</b></td>
          <% end %>
        </tr>
        <tr>
          <td><b><%= link_to '編集する', edit_admin_customer_path(@customer.id), class: "btn btn-success" %></b></td>
          <td><%= link_to "レビュー一覽", admin_customer_path(@customer.id), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <!--会員が投稿した場・ギア一覽-->
    <%= render 'public/customers/camp', camps: @camps, gears: @gears %>
  </div>
</div>