<div class="container px-5 px-sm-0">
  <div class="row">
    <h5 class="my-4 pl-3 text-center", style="margin-bottom: 40px;"><b><%= @customer.name %>さんの会員情報編集</b></h5>
  </div>
  <div class="row d-flex justify-content-center">
    <!--<div class="col-12">-->
      <%= render "admin/shared/error_messages", resource: @customer %>
      <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><b>会員ID</b></td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td><b>ニックネーム</b></td>
          <td><%= f.text_field :name %></b></td>
        </tr>
        <tr>
          <td><b>メールアドレス</b></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td><b>会員ステータス</b></td>
          <td>
            <%= f.radio_button :is_active, :true %><%= f.label :is_active, "有効" %>
            <%= f.radio_button :is_active, :false %><%= f.label :is_active, "退会" %>
          </td>
        </tr>
        <tr>
          <td><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
          <td><%= link_to "戻る", admin_customer_path(@customer.id), class: 'btn btn-info' %></td>
        </tr>
      </table>
      <% end %>
    <!--</div>-->
  </div>
</div>