<h5>キャンプギア情報編集</h5>
<%= form_with model: @gear, url: gear_path, method: :patch do |f| %>
<table>
  <% if @gear.errors.any? %>
    <%= @gear.errors.count %>件のエラーが発生しました。
    <ul>
      <% @gear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <tr>
    <td><b><%= f.label :gear_images, "キャンプギアの画像" %></b></td>
    <td><%= f.file_field :gear_images, multiple: true, accept: "image/*" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :name, "キャンプギア名" %></b></td>
    <td><%= f.text_field :name, class: "form-control", placeholder: "キャンプギア名" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :price, "値段" %></b></td>
    <td><%= f.text_field :price, class: "form-control", placeholder: "15000" %>　円</td>
  </tr>
  <tr>
    <td><b><%= f.label :brand_name, "ブランド名" %></b></td>
    <td><%= f.text_field :brand_name, class: "form-control", placeholder: "snowpeak" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :category_id, "カテゴリ名" %></b></td>
    <td><%= f.collection_select :category_id, @categories, :id, :name, include_blank: '選択してください', required: true %></td>
  </tr>
  <tr>
    <td><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
    <% if (@gear.customer == current_customer) || admin_signed_in? %>
    <td><%= link_to "キャンプギア情報削除", gear_path(@gear.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
    <% end %>
  </tr>
</table>
<% end %>