<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-2 col'>
      カテゴリ検索機能
      <%= render 'category_search', categories: @categories %>
    </div>

    <div class='col-md-10'>
        <div>
          <h3><strong><%= @category.name %>のキャンプギア一覧</strong></h3>
          <div class="mt-2"><strong>（全<%= @gears_count %>件）</strong></div>
          並び替え機能
          <p>
            <%= link_to '新しい順', gear_search_path(category_id: @category.id, latest: "新着順") %>
            | <%= link_to '評価の高い順', gear_search_path(category_id: @category.id, star_count: "評価の高い順") %>
          </p>
        </div>
        <div class = "contents" style="display:flex; flex-wrap:wrap;">
          <% @category_gears.each do |gear| %>
          <div class="col-lg-4">
            <div class="d-flex flex-column">
              <!--投稿画像の一枚目表示-->
              <%= link_to gear_path(gear.id) do %>
                <% gear.gear_images.first(1).each do |image| %>
                  <%= image_tag image, size:'200x160' %>
                <% end %>
              <% end %>
              <h5 style="margin-bottom: 20px; margin-top: 20px;"><%= gear.name %></h5>
              <!--レビューの平均☆表示予定-->
              <div id="star-rate<%= gear.id%>"></div>
              <p>(<b><%= gear.gear_reviews.count %>件</b>)</p>
              <script>
              $(document).on('turbolinks:load', function() {
                $('#star-rate<%= gear.id %>').empty();
                $('#star-rate<%= gear.id%>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf  : '<%= asset_path('star-half.png') %>',
                  half      : true,
                  readOnly  : true,
                  score: '<%= gear.gear_reviews.average(:rate).to_f.round(1) %>',
                });
              });
              </script>
            </div>
          </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-center">
          <%= paginate @category_gears %>
        </div>
      </div>
    </div>
  </div>
</div>