<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>キャンプ場情報</h4>
    </div>
    <div class="col-md-6">
    <% if (@gear.customer == current_customer) || admin_signed_in? %>
      <%= link_to "編集する", edit_gear_path(@gear.id), class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% @gear.gear_images.each do |image| %>
      <div class="my-5">
        <%= image_tag image, size:'400x300' %>
      </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <table>
        <tr>
          <td><%= image_tag @gear.customer.get_profile_image(100,100) %></td>
          <td><%= @gear.customer.name %>さん</td>
        </tr>
        <tr>
          <td><b>キャンプギア名</b></td>
          <td><%= @gear.name %></td>
        </tr>
        <tr>
          <td><b>値段</b></td>
          <td><%= @gear.price %>円</td>
        </tr>
        <tr>
          <td><b>ブランド名</b></td>
          <td><%= @gear.brand_name %></td>
        </tr>
        <tr>
          <td><b>カテゴリ名</b></td>
          <td><%= @gear.category.name %></td>
        </tr>
      </table>
      <%= link_to "キャンプギアレビューを書く >", new_gear_gear_review_path(@gear.id), class: "btn btn-secondary" %>
      <h3>レビュー一覽</h3>
      <% @gear_reviews.each do |review| %>
      <table>
        <tr>
          <td>
            <%= image_tag review.customer.get_profile_image(100, 100) %>
            <b><%= review.customer.name %></b>さん
          </td>
          <td>
            <% if (review.customer == current_customer) || admin_signed_in? %>
              <%= link_to "削除", gear_gear_review_path(@gear.id, review.id), method: :delete, class: 'btn btn-danger' "data-confirm" => "本当に削除しますか？"  %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div id="star-rate<%= review.id%>"></div>
            <script>
            $(document).on('turbolinks:load', function() {
              $('#star-rate<%= review.id %>').empty();
              $('#star-rate<%= review.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%=asset_path('star-half.png') %>',
                half      : true,
                readOnly  : true,
                score: <%= review.rate %>,
              });
            });
            </script>
          </td>
        </tr>
        <tr>
          <td><b><%= review.title %></b></td>
        </tr>
        <tr>
          <td><%= review.review %></td>
        </tr>
        <!--↓もし画像があれば横並びに表示する-->
        <% if review.review_gear_images.attached? %>
        <tr>
          <td>
          <% review.review_gear_images.each do |image| %>
            <%= image_tag image, size:'100x100' %>
          <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>