<div class="container px-5 my-5 px-sm-0 my-sm-0">

  <div class="row">
    <h5 class='my-4 px-3', style="background-color: #eee; width:240px;"><b>エリア・カテゴリ一覧</b></h5>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-start">
        <h5 class='mt-3 text-center', style="background-color: #eee; width:220px; margin-bottom: 40px;"><b>エリア追加・一覧</b></h5>
      </div>
      <div class="row d-flex justify-content-center">
        <%= render "admin/shared/error_messages", resource: @area %>
        <%= form_with model: @area, url: admin_areas_path do |f| %>
          <div class="form-inline">
            <span class="mr-3"><b><%= f.label :name, 'エリア名' %></b></span>
            <span class="mr-3"><%= f.text_field :name, placeholder: "エリア名", class: 'form-control' %></span>
            <span class="mr-3"><%= f.submit '新規登録', class: 'btn btn-success' %></span>
          </div>
        <% end %>
      </div>
      <div class="mt-5">
        <%= render "admin/tags/area_index", areas: @areas %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex justify-content-start">
        <h5 class='mt-3 text-center', style="background-color: #eee; width:220px; margin-bottom: 40px;"><b>カテゴリ追加・一覧</b></h5>
      </div>
      <div class="row d-flex justify-content-center">
        <%= render "admin/shared/error_messages", resource: @category %>
        <%= form_with model: @category, url: admin_categories_path do |f| %>
          <div class="form-inline">
            <span class="mr-3"><b><%= f.label :name, 'カテゴリ名' %></b></span>
            <span class="mr-3"><%= f.text_field :name, placeholder: "カテゴリ名", class: 'form-control' %></span>
            <span class="mr-3"><%= f.submit '新規登録', class: 'btn btn-success' %></span>
          </div>
        <% end %>
      </div>
      <div class="mt-5">
        <%= render "admin/tags/category_index", categories: @categories %>
      </div>
    </div>
  </div>
</div>
