<h5>キャンプ場情報投稿</h5>
<%= form_with model: @camp, url: camps_path, method: :post do |f| %>
<table>
  <% if @camp.errors.any? %>
    <%= @camp.errors.count %>件のエラーが発生しました。
    <ul>
      <% @camp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <tr>
    <td><b><%= f.label :camp_images, "キャンプ場の画像（５枚まで）" %></b></td>
    <td><%= f.file_field :camp_images, multiple: true, accept: "image/*" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :name, "キャンプ場名" %></b></td>
    <td><%= f.text_field :name, class: "form-control", placeholder: "キャンプ場名" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :address, "住所" %></b></td>
    <td><%= f.text_field :address, class: "form-control", placeholder: "〇〇県〇〇市〇〇-〇〇" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :area_id, "エリア名" %></b></td>
    <td><%= f.collection_select :area_id, @areas, :id, :name, include_blank: '選択してください', required: true %></td>
  </tr>
  <tr>
    <td><b><%= f.label :access_method, "アクセス案内" %></b></td>
    <td><%= f.text_area :access_method, class: "form-control", placeholder: "<車でお越しの方>国道〇〇号線を表示に従い30分" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :parking, "駐車場" %></b></td>
    <td><%= f.text_area :parking, class: "form-control", placeholder: "駐車可能台数　８０台" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :vehicle, "乗り入れ可能車両" %></b></td>
    <td><%= f.text_area :vehicle, class: "form-control", placeholder: "乗用車/自転車/バイク" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :close_facilities, "近隣施設" %></b></td>
    <td><%= f.text_area :close_facilities, class: "form-control", placeholder: "スーパー/コンビニ" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :hot_spring, "近隣の温泉" %></b></td>
    <td><%= f.text_area :hot_spring, class: "form-control", placeholder: "〇〇の湯" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :in_site_facilities, "場内施設" %></b></td>
    <td><%= f.text_area :in_site_facilities, class: "form-control", placeholder: "炊事場/自動販売機/トイレ/バリアフリー" %></td>
  </tr>
  <tr>
    <td><b><%= f.label :fee_information, "料金情報" %></b></td>
    <td><%= f.text_area :fee_information, class: "form-control", placeholder: "オートサイト　１人3000円　フリーサイト　１人2000円　デイキャンプ　１人1500円" %></td>
  </tr>
  <tr>
    <td><%= f.submit "キャンプ場投稿", class: 'btn btn-success' %></td>
  </tr>
</table>
<% end %>
<img id="preview_0" style="width:15%;">
<img id="preview_1" style="width:15%;">
<img id="preview_2" style="width:15%;">
<img id="preview_3" style="width:15%;">
<img id="preview_4" style="width:15%;">

<script>
$('#camp_camp_images').on('change', function (e) {

    if(e.target.files.length > 5){

      alert('一度に投稿できるのは五枚までです。');
      // 五枚以上の画像を選択していた場合、選択したファイルをリセット。
      $('#camp_camp_images').val = "";

      // 以前の画像のプレビューが残っていた場合は、
      // まだ画像選択できていると勘違いを誘発するため初期化。
      for( let i = 0; i < 5; i++) {
        $(`#preview_${i}`).attr('src', "");
      }

    }else{
      let reader = new Array(5);

      // 画像選択を二回した時、一回目より数が少なかったりすると画面上に残るので初期化
      for( let i = 0; i < 5; i++) {
        $(`#preview_${i}`).attr('src', "");
      }

      for(let i = 0; i < e.target.files.length; i++) {
        reader[i] = new FileReader();
        reader[i].onload = finisher(i,e);
        reader[i].readAsDataURL(e.target.files[i]);

        // onloadは別関数で準備しないとfor文内では使用できないので、関数を準備。
        function finisher(i,e){
          return function(e){
          $(`#preview_${i}`).attr('src', e.target.result);
          }
        }
      }
   }
});
</script>