<div class='container mt-5 h-75'>
  <div class='row h-100'>
    <div class='col-md-2'>
      <%= render 'area_search', genres: @areas %>
    </div>

    <div  class='col-md-10'>
      <div>
        <div style="display:flex; flex-wrap:wrap;">
          <h3><strong><%= @area.name %>一覧</strong></h3>
          <div class="mt-2"><strong>（全<%= @area_camps.count%>件）</strong></div>
        </div>
        <div class = "new-arrival-contents" style="display:flex; flex-wrap:wrap;">
          <% @area_camps.each do |camp| %>
          <div class="col-lg-3">
            <div class="d-flex flex-column">
                <div>投稿画像一枚目表示</div>
                <h5><%= camp.name %></h5>
                <h5>☆表示（平均）</h5>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <div style="margin:0 auto;">
      <%= paginate @area_camps%>
    </div>

  </div>
</div>