<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>キャンプ場情報</h4>
    </div>
    <div class="col-md-6">
    <% if (@camp.customer == current_customer) || admin_signed_in? %>
      <%= link_to "編集する", edit_camp_path(@camp.id), class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% @camp.camp_images.each do |image| %>
      <div class="my-5">
        <%= image_tag image, size:'400x300' %>
      </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <table>
        <tr>
          <td><%= image_tag @camp.customer.get_profile_image(100,100) %></td>
          <td><%= @camp.customer.name %>さん</td>
        </tr>
        <tr>
          <td><b>キャンプ場名</b></td>
          <td><%= @camp.name %></td>
        </tr>
        <tr>
          <td><b>住所</b></td>
          <td><%= @camp.address %></td>
        </tr>
        <tr>
          <td><b>アクセス案内</b></td>
          <td><%= @camp.access_method %></td>
        </tr>
        <tr>
          <td><b>駐車場</b></td>
          <td><%= @camp.parking %></td>
        </tr>
        <tr>
          <td><b>乗り入れ可能車両</b></td>
          <td><%= @camp.vehicle %></td>
        </tr>
        <tr>
          <td><b>近隣施設</b></td>
          <td><%= @camp.close_facilities %></td>
        </tr>
        <tr>
          <td><b>場内施設</b></td>
          <td><%= @camp.in_site_facilities %></td>
        </tr>
        <tr>
          <td><b>近隣の温泉</b></td>
          <td><%= @camp.hot_spring %></td>
        </tr>
        <tr>
          <td><b>料金情報</b></td>
          <td><%= @camp.fee_information %></td>
        </tr>
      </table>
      <%= link_to "キャンプ場レビューを書く >", new_camp_camp_review_path(@camp.id), class: "btn btn-secondary" %>
      <h3>レビュー一覽</h3>
      <% @camp_reviews.each do |review| %>
      <table>
        <tr>
          <td>
            <%= image_tag review.customer.get_profile_image(100, 100) %>
            <b><%= review.customer.name %></b>さん
          </td>
          <td>
            <% if (review.customer == current_customer) || admin_signed_in? %>
              <%= link_to "削除", camp_camp_review_path(@camp.id, review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div id="star-rate<%= review.id%>"></div>
            <script>
            $(document).on('turbolinks:load', function() {
              $('#star-rate<%= review.id %>').empty();
              $('#star-rate<%= review.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%=asset_path('star-half.png') %>',
                half      : true,
                readOnly  : true,
                score: <%= review.rate %>,
              });
            });
            </script>
          </td>
        </tr>
        <tr>
          <td><b><%= review.title %></b></td>
        </tr>
        <tr>
          <td><%= review.review %></td>
        </tr>
        <!--↓もし画像があれば横並びに表示する-->
        <% if review.review_camp_images.attached? %>
        <tr>
          <td>
          <% review.review_camp_images.each do |image| %>
            <%= image_tag image, size:'100x100' %>
          <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>