<div class="container px-sm-0 my-sm-0">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mt-5 text-center", style="background-color: #eee; width:220px; padding-left: 10px; margin-bottom: 40px;"><b>キャンプ場情報</b></h4>
    </div>
    <div class="col-md-6 mt-5 mb-2">
    <% if (@camp.customer == current_customer) || admin_signed_in? %>
      <%= link_to "編集する", edit_camp_path(@camp.id), class: 'btn btn-success mb-2' %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-2", style="text-align: center;">
      <% @camp.camp_images.each do |image| %>

        <%= image_tag image, style: "width: 18%;" %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <table>
        <tbody>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><%= image_tag @camp.customer.get_profile_image(100,100), class: "rounded-circle" %></th>
            <td><%= @camp.customer.name %>さん</td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>キャンプ場名</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.name %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>住所</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.address %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>アクセス案内</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.access_method %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>駐車場</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.parking %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>乗り入れ可能車両　</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.vehicle %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>近隣施設</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.close_facilities %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>場内施設</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.in_site_facilities %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>近隣の温泉</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.hot_spring %></td>
          </tr>
          <tr>
            <th style="padding: 12px 0; vertical-align: top;"><b>料金情報</b></th>
            <td style="padding: 12px 0; vertical-align: top;"><%= @camp.fee_information %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <% if customer_signed_in? && (current_customer.name != "ゲストユーザー") %>
        <%= link_to "キャンプ場レビューを書く >", new_camp_camp_review_path(@camp.id), class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>


  <div class="row mt-3 mb-3">
    <div class="col-12">
      <h4 class="mt-5 text-center", style="background-color: #eee; width:220px; padding-left: 10px; margin-bottom: 40px;"><b>レビュー一覽</b></h4>
    </div>
  </div>


  <div class="row">
    <div class="col-12">

    <ul style="list-style: none;">
    <% @camp_reviews.each do |review| %>
      <li>
        <div class="review" style="margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid black;">
          <div class="row">
            <div class="col-4">
              <%= image_tag review.customer.get_profile_image(100, 100), class: "rounded-circle" %>
              <div>
              <b><%= review.customer.name %></b>さん
              </div>
              <div id="star-rate<%= review.id%>"></div>
              <script>
              $(document).on('turbolinks:load', function() {
                $('#star-rate<%= review.id %>').empty();
                $('#star-rate<%= review.id%>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf  : '<%=asset_path('star-half.png') %>',
                  half      : true,
                  readOnly  : true,
                  score: <%= review.rate %>,
                });
              });
              </script>
            </div>

            <div class="col-8 mt-4">
              <h4 style="margin-bottom: 8px;"><b><%= review.title %></b></h4>
              <span><%= review.review %></span>
            </div>
            
          </div>



          <div class="mt-2">
            <% if (review.customer == current_customer) || admin_signed_in? %>
              <%= link_to "レビュー削除", camp_camp_review_path(@camp.id, review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
            <% end %>
          </div>
          
          <!--↓もし画像があれば横並びに表示する-->
          <% if review.review_camp_images.attached? %>
          <div class="mt-2 mb-2">
            <% review.review_camp_images.each do |image| %>
              <%= image_tag image, size:'100x100' %>
            <% end %>
          </div>
          <% end %>



        </div>
      </li>
    <% end %>
    </ul>


    </div>


  </div>
</div>