<div class="row d-flex justify-content-center">
  <%= render "admin/shared/error_messages", resource: resource %>
  <%= form_with model: model, url: url do |f| %>
    <span class="mr-5"><b><%= f.label :name, name %></b></span>
    <span class="mr-3"><%= f.text_field :name %></span>
    <span class="mr-5"><%= f.submit "変更を保存する", class: 'btn btn-success' %></span>
    <span class="mr-3"><%= link_to "戻る", admin_tags_path, class: "btn btn-info" %></span>
  <% end %>
</div>