<div class="container">
  <div class="row">
    <h5 class='mx-5 my-5', style="background-color: #eee; width:220px; padding-left: 12px; margin-bottom: 40px;"><b>カテゴリ編集</b></h5>
  </div>
  <div class="row d-flex justify-content-center">
    <%= render "admin/shared/error_messages", resource: @category %>
    <%= form_with model: @category, url: admin_category_path do |f| %>
      <span class="mr-5"><b><%= f.label :name, "カテゴリ名" %></b></span>
      <span class="mr-3"><%= f.text_field :name %></span>
      <span class="mr-5"><%= f.submit "変更を保存する", class: 'btn btn-success' %></span>
    <% end %>
  </div>
</div>