<div class="container px-5 my-5 px-sm-0 my-sm-0">
  <div class="row">
    <h4 class="mt-5 text-center", style="background-color: #eee; width:280px; padding-left: 8px; margin-bottom: 40px;"><b><%= @camp.name %>をレビュー</b></h4>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-7 co-12">

      <%= form_with model: [@camp, @camp_review], url: camp_camp_reviews_path(@camp), method: :post do |f| %>

        <% if @camp_review.errors.any? %>
          <%= @camp_review.errors.count %>件のエラーが発生しました。
          <ul>
            <% @camp_review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div>
          <h4><b><%= @camp.name %></b></h4>
        </div>

        <hr>

        <h5><b><%= f.label :rate, "総合評価", class:'col-md-3 col-form-label' %></b></h5>
        <div class="form-group" id="star">
          <%= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
        </div>

        <hr>
        <div class="form-group">
          <b><%= f.label :review_camp_images, "キャンプ場の画像を追加する" %></b><br>
          <p>※あれば写真を投稿してください(５枚まで）</p>
          <%= f.file_field :review_camp_images, multiple: true, accept: "image/*", class: "form-control-file" %>
        </div>

        <div>
          <img id="preview_0" style="width:15%;">
          <img id="preview_1" style="width:15%;">
          <img id="preview_2" style="width:15%;">
          <img id="preview_3" style="width:15%;">
          <img id="preview_4" style="width:15%;">
        </div>

        <hr>

        <div class="form-group mt-2">
          <b><%= f.label :title, "レビュータイトル" %></b>
          <%= f.text_field :title, class: "form-control", placeholder: "伝えたいこと！" %>
        </div>

        <hr>

        <div class="form-group">
          <b><%= f.label :review, "レビュー" %></b>
          <%= f.text_area :review, rows: 3, class: "form-control", placeholder: "「良かったこと」または「悪かったこと」" %>
        </div>

        <hr>

        <div class="d-flex justify-content-end">
          <%= f.submit "レビュー投稿", class: "btn btn-warning" %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<%= render 'star_image' %>