<!DOCTYPE html>
<html>
  <head>
    <title>Campost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main style="height: 80vh;">
      <div class="top-bg">
        <div class="notifications">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: key) %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </main>

    <footer class="bg-light">
      <div class='container py-3'>
      	<div class='row my-auto d-flex justify-content-center'>
        	<p class="text-dark">Camposts</p>
        </div>
      </div>
    </footer>
  </body>
</html>
